<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" >
    <img class="brand-logo" src="" alt="">
    <i class="fas fa-home"></i><span class="dasboard-text">Dashboard</span>
  </a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-user">
    <i class="fas fa-user"></i>Sign up
  </a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/log-in">
    <i class="fas fa-user"></i>Log in
  </a>
</nav>

      
        <!-- Main content -->
         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
           <div class="inner-adjust">
             <h4>DIGITAL CLASS ATTENDANCE SYSTEM</h4>
           </div>

      </main>
    
  
  