<!-- logo -->
<div><img src="1.png " alt="LOGO UNAVAILABLE" width="200" height="200"></div>


<!-- Top navigation -->
<div>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/user-profile">
          <span class="dasboard-text">Dashboard</span>
        </a>
    </nav>
</div>



<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <!-- Use router template to show the components for which router service is activated -->
                <router-outlet></router-outlet>

                <!-- Footer -->
                <footer>
                </footer>
            </div>
        </main>

    </div>